
@use 'bulma/sass/utilities/mixins' as mx;
@use 'position' as *;

@mixin tooltip-responsiveness {
@each $direction in top, right, bottom, left {
	&.has-tooltip-#{$direction}-mobile {
	  @include mx.mobile {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-tablet {
	  @include  mx.tablet {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-tablet-only {
	  @include  mx.tablet-only {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-touch {
	  @include  mx.touch {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-desktop {
	  @include  mx.desktop {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-desktop-only {
	  @include  mx.desktop-only {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-until-widescreen {
	  @include  mx.until-widescreen {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-widescreen {
	  @include  mx.widescreen {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-widescreen-only {
	  @include  mx.widescreen-only {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-until-fullhd {
	  @include  mx.until-fullhd {
		@include tooltip-direction(#{$direction});
	  }
	}
	&.has-tooltip-#{$direction}-fullhd {
	  @include  mx.fullhd {
		@include tooltip-direction(#{$direction});
	  }
  // Hidden breakpoints
	}
  }
  &.has-tooltip-hidden-mobile {
	@include  mx.mobile {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-tablet {
	@include  mx.tablet {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-tablet-only {
	@include  mx.tablet-only {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-touch {
	@include  mx.touch {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-desktop {
	@include  mx.desktop {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-desktop-only {
	@include  mx.desktop-only {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-until-widescreen {
	@include  mx.until-widescreen {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-widescreen {
	@include  mx.widescreen {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-widescreen-only {
	@include  mx.widescreen-only {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-until-fullhd {
	@include  mx.until-fullhd {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
	}
  }
  &.has-tooltip-hidden-fullhd {
	@include  mx.fullhd {
	  &::after,
	  &::before {
		opacity: 0 !important;
		display: none !important;
	  }
  // Text alignement breakpoints
	}
  }
  @each $dir, $text in ("left":"left", "centered":"center", "right":"right") {

	&.has-tooltip-text-#{$dir}-mobile {
	  @include mx.mobile {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-tablet {
	  @include mx.tablet {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-tablet-only {
	  @include mx.tablet-only {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-touch {
	  @include mx.touch {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-desktop {
	  @include mx.desktop {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-desktop-only {
	  @include mx.desktop-only {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-until-widescreen {
	  @include mx.until-widescreen {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-widescreen {
	  @include mx.widescreen {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-widescreen-only {
	  @include mx.widescreen-only {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-until-fullhd {
	  @include mx.until-fullhd {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
	&.has-tooltip-text-#{$dir}-fullhd {
	  @include mx.fullhd {
		&::before {
		  text-align: #{$text};
		}
	  }
	}
  };
};