
@use "bulma/sass/utilities/css-variables" as cv;


$tooltip-animation-duration: .3s !default;
$tooltip-animation-transition-timing-function: linear !default;
$tooltip-arrow-size: 6px !default;
$tooltip-background-color: cv.getVar('grey-dark') !default;
$tooltip-background-opacity: 0.9 !default;
$tooltip-color: cv.getVar('white') !default;
$tooltip-font-family: cv.getVar('family-primary') !default;
$tooltip-font-size: cv.getVar('size-7') !default;
$tooltip-max-width: 15rem !default;
$tooltip-padding: .5rem 1rem !default;
$tooltip-radius: cv.getVar('radius-small') !default;
$tooltip-z-index: 1020 !default;