---
---

@import "{{ site.theme }}";
@import "/assets/css/bulma-no-dark-mode-no-reset.css";
@import "https://cdn.jsdelivr.net/npm/bulma-v1-tooltip/dist/bulma-v1-tooltip.min.css";

.table tr>th:first-child, .table tr>td:first-child {
    position: sticky;
    left: 0;
    z-index:99;
    white-space: nowrap;
}
.table tr td, .table tr th  {
    background: white;
}
